Snakefile
test/*.*.*
lib/C++/bin/*
lib/TSD/*pycache*
lib/TSD/__pycache__/utils.*
lib/python/TSD/*pycache*
lib/python/TSD/__pycache__/utils.*
modules/1-FREQUENCY-MULTI-GENERATIONS/test/work_directory_G*/TE_FREQUENCY_TrEMOLO.bed
modules/2-MODULE_TE_BLAST/server/back-end/data/data_GEN_*
modules/2-MODULE_TE_BLAST/server/back-end/index/index_*